 <footer>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-github"></i></a></li>
    </ul>
    <p class="text-center text-muted">Group 4</p>
</footer>
    