<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">🥪 Sandwich Maker</a>
    {{#if logged_in}}
    <ul class="nav justify-content-start" style="list-style: none;"></ul>
        <ul style="list-style: none;">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </li>
    </ul>
    {{else}}
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
            <a class="nav-link active" id="signup-btn" aria-current="page" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="login-btn" href="/login">Login</a>
            </li>
        </ul>
    </div>
    {{/if}}
</nav>
