<section class="py-5 text-center container">
    {{#if logged_in}}
      
    <p class="lead mb-4">Share your sandwich recipe with others.</p>

    {{else}}
    <h2>Welcome!</h2>
    <h4>Create an Account to Share Your Favorite Sandwich Recipe</h4>
    <ul style="list-style: none;">
        <li><a
            href="/signup"
            id="signup-btn"
            class="btn btn-lg justify-content-center mb-3"
            role="button"
        >Sign Up</a></li>
        <li><h4>If you already have an account, please login</h4><a
            href="/login"
            class="btn btn-outline-primary justify-content-center mb-3"
            role="button"
        >Login</a></li>
    </ul>
    {{/if}}
</section>