<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sandwich Maker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/css/jass.css" />
    {{!--
    <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"> --}}
    <link rel="stylesheet" href="/css/style.css" />
   
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">🥪 Sandwich Maker</a>
        {{#if logged_in}}
        <ul class="nav justify-content-end"></ul>
          <h2> Welcome, {{name}}</h2>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        {{else}}
          <ul class="nav nav-pills justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" id="signup-btn" aria-current="page" href="/signup">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
          </ul>
      </div>
    </nav>
    {{/if}}

     <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{body}}}
     </main>

    <section class="greeting">
      {{#if logged_in}}
        <button
          class="no-button justify-content-center text-centered mb-3"
          id="create">Create a Sandwich</button>
      {{else}}
        <h2>Welcome!</h2>
        <h4>Create an Account to Share Your Favorite Sandwich Recipe</h4>
        <ul style="list-style: none;">
          <li><a
              href="/signup"
                id="signup-btn"
              class="btn btn-lg justify-content-center mb-3"
              role="button"
            >Sign Up</a></li>
          <li><h4>If you already have an account, please login</h4><a
              href="/login"
              class="btn btn-outline-primary justify-content-center mb-3"
              role="button"
            >Login</a></li>
        </ul>
      {{/if}}
    </section>

    <footer>
      <div class="footer">
        <h4>Group 4</h4>
      </div>
    </footer>

    {{! bootstrap files }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    {{!-- Using Slick files to implement the carousel --}}
   <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}<script></script>{{/if}}

    {{! jQuery files }}
   <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    {{!--
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script> --}}

  </body>

</html>