<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sandwich Maker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
   
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">🥪 Sandwich Maker</a>
        {{#if logged_in}}
        <ul class="nav justify-content-start"></ul>
          <h2> Welcome, {{name}}</h2>
          <ul style="list-style: none;">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        {{else}}
          <ul class="nav nav-pills justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" id="signup-btn" aria-current="page" href="/signup">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
          </ul>
      </div>
    </nav>
    {{/if}}

    <main class="container container-fluid">
      <div class="row justify-content-center">
        <!-- Render the sub layout -->
        {{{body}}}
      </div>
    </main>
   
    <section class="py-5 text-center container">
       {{#if logged_in}}
        <div id="logged" class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Sandwich Dashboard</h1>
            <p class="lead mb-4">Share your sandwich recipe with others.</p>
          </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/sandwich">Create Your Sandwich</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      {{else}}
        <h2>Welcome!</h2>
        <h4>Create an Account to Share Your Favorite Sandwich Recipe</h4>
        <ul style="list-style: none;">
          <li><a
              href="/signup"
                id="signup-btn"
              class="btn btn-lg justify-content-center mb-3"
              role="button"
            >Sign Up</a></li>
          <li><h4>If you already have an account, please login</h4><a
              href="/login"
              class="btn btn-outline-primary justify-content-center mb-3"
              role="button"
            >Login</a></li>
        </ul>
         {{/if}}
    </section>
   
    <footer>
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-github"></i></a></li>
        </ul>
        <p class="text-center text-muted">Group 4</p>
    </footer>
    

    {{! bootstrap files }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>


    <!-- Render script for logged in users only -->
    {{#if logged_in}}<script></script>{{/if}}

    {{! jQuery files }}
   <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  </body>

</html>