<div class="slideshow">
                <div class="slide">
                    <img src="https://media.istockphoto.com/id/1300342890/photo/blt-sandwich-and-fries.jpg?b=1&s=170667a&w=0&k=20&c=kE7ymKcOT7PSWuy2ZRr7xI6Iww06oiwrxQiqms7VDZo=" alt="" />
                </div>
                <div class="slide">
                    <img src="https://media.istockphoto.com/id/1300342890/photo/blt-sandwich-and-fries.jpg?b=1&s=170667a&w=0&k=20&c=kE7ymKcOT7PSWuy2ZRr7xI6Iww06oiwrxQiqms7VDZo=" alt="" />
                </div>
                <div class="slide">
                    <img src="https://media.istockphoto.com/id/1300342890/photo/blt-sandwich-and-fries.jpg?b=1&s=170667a&w=0&k=20&c=kE7ymKcOT7PSWuy2ZRr7xI6Iww06oiwrxQiqms7VDZo=" alt="" />
                </div>
                <div class="slide">
                    <img src="https://media.istockphoto.com/id/1300342890/photo/blt-sandwich-and-fries.jpg?b=1&s=170667a&w=0&k=20&c=kE7ymKcOT7PSWuy2ZRr7xI6Iww06oiwrxQiqms7VDZo=" alt="" />
                </div>
            </div>
        </div>
</div>

<script
  type='text/javascript'
  src='//code.jquery.com/jquery-1.11.0.min.js'
></script>
<script
  type='text/javascript'
  src='//code.jquery.com/jquery-migrate-1.2.1.min.js'
></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type='text/javascript' src='/js/carousel.js'></script>