<div class="slideshow">
    <div class="slide">
        <img src="https://media.istockphoto.com/id/1397193477/photo/club-sandwich-made-with-bacon-ham-turkey-cheese-lettuce-and-tomato.jpg?b=1&s=170667a&w=0&k=20&c=Sz2aFQ_oQeho9s435e37D88Svv0uHwewqB9ZVaDiUg4=" alt="" />
    </div>
    <div class="slide">
        <img src="https://media.istockphoto.com/id/1305692648/photo/classic-grilled-cuban-sandwich.jpg?b=1&s=170667a&w=0&k=20&c=bGZI1ZyqKsj1Z6H3_ifRBL2I8zAq-6ch89d_NOzoFZA=" alt="" />
    </div>
    <div class="slide">
        <img src="https://media.istockphoto.com/id/1300342890/photo/blt-sandwich-and-fries.jpg?b=1&s=170667a&w=0&k=20&c=kE7ymKcOT7PSWuy2ZRr7xI6Iww06oiwrxQiqms7VDZo=" alt="" />
    </div>
</div>

<script
  type='text/javascript'
  src='//code.jquery.com/jquery-1.11.0.min.js'
></script>
<script
  type='text/javascript'
  src='//code.jquery.com/jquery-migrate-1.2.1.min.js'
></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type='text/javascript' src='/js/carousel.js'></script>
