<div class="row">
    <h4> Choose five ingredients to make your own sandwich with!</h4>
    {{#each categories as |category|}}
      <select>
        {{#each category.ingredients as |ingredient|}}
          <option>{{ingredient.name}}</option>
        {{/each}}
      </select>
    {{/each}}
    <button type="button" (click)="onChangeType()" class="btn btn-secondary">Submit</button>
</div>