
Choose five ingredients to make your own sandwich with!
{{#each categories as |category|}}
  <select>
    {{#each category.ingredients as |ingredient|}}
      <option>{{ingredient.name}}</option>
    {{/each}}
  </select>
{{/each}}