* {
  box-sizing: border-box;
}

body {
  font-family: Happy Monkey;
  background-color: #ffa384;
}

section {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  height: 10%;
}

.navbar-brand {
  font-size: 40px;
  font-weight: bolder;
  color: #008aa5;
}

.nav-link {
  background-color: #008aa5;
}

h2,
h4 {
  color: whitesmoke;
h2, h4 {
  color: #008AA5;

}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: whitesmoke;
  color: #008AA5;
  text-align: center;
}

#signup-btn {
  color: whitesmoke;
  background-color: #008aa5;
}

.slideshow {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.slide img {
  max-width: 100%;
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
      color: #008AA5;
  }
