* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Happy Monkey;
  background-color: #ffa384;
}

section,
.row {
  margin: 20px;
  align-items: center;
  justify-content: center;
}



#logged {
  display: block;
  position: relative;
  top: 170;
  background-color: wheat;
}

.navbar {
  width: 100%;
  height: 10%;
}

.navbar-brand {
  font-size: 40px;
  font-weight: bolder;
  color: #008aa5;
}

h1,
h2,
h4 {
  color: #008aa5;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  margin-top: 40px;
  width: 100%;
  background-color: whitesmoke;
  color: #008aa5;
}

.btn {
  color: whitesmoke;
  background-color: #008aa5;
}

.slideshow {
  display: flex;
  justify-content: center;
  max-width: 60%;
  height: fit-content;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.slide img {
  max-width: 100%;
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #008aa5;
}
