* {
  box-sizing: border-box;
}

body {
  font-family: Happy Monkey;
  background-color: #FFA384;
 
}

section {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  height: 10%;
}

.navbar-brand {
  font-size: 40px;
  font-weight: bolder;
  color: #008AA5;
}

.nav-link {
  background-color: #008AA5;
}

h2, h4 {
  color: whitesmoke;

}

#signup-btn  {
  color: whitesmoke;
  background-color:#008AA5;
}


